<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" th:href="@{/css/swiper.css}"/>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main th:replace="~{fragments/main :: products}"></main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script th:src="@{/js/swiper.js}"></script>
</body>
</html>