<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Shopping Price Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
</head>
<style>
    .text-truncate{
        white-space: wrap;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>
<body>
<header class="container">
    <div class="row">
        <div class="col-2 text-start">
            TakeOff-er
        </div>
        <div class="col-8 text-center">

        </div>
        <div class="col-2 text-end">

        </div>
    </div>
    <div class="row my-3 ">
        <img src="" class="mx-auto d-block">
    </div>
    <form th:action="@{/search}" method="get" class="mx-auto" style="width:100%; max-width:545px">
        <div class="row" >
            <div class="input-group">
                <input th:value="${search}" name="query" type="text" class="form-control form-control-lg" placeholder="Search">
                <button class="btn btn-success" type="submit">ffffffGo</button>
            </div>
        </div>
    </form>

    <div class="row">

    </div>
</header>

<main class="container">
    <section class="my-3">
        <div class="row my-2">
            <div class="col-1">
                <img src="/img/coupang_logo.png" class="img-fluid my-2" alt="Coupang">
            </div>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card" style="width: 13rem;">
                        <img src="" class="card-img-top" style="height: 10rem;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">2000020 원</h5>
                            <p class="text-truncate" style="height: 4.5rem;" title="HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX"> HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX </p>

                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> text-nowrap-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
    </section>

    <section class="my-3">
        <div class="row my-2">
            <div class="col-1">
                <img src="/img/11STREET_logo.png" class="img-fluid  my-2" alt="11번가">
            </div>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card" style="width: 13rem;">
                        <img src="" class="card-img-top" style="height: 10rem;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-danger">2000020 원</h5>
                            <p class="text-truncate" style="height: 4.5rem;" title="HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX"> HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX </p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> text-nowrap-->
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card" style="width: 13rem;">
                        <img src="https://www.avdbs.com/upload2/2403/bt04/240301131242_1540_0972.jpg" class="card-img-top" style="height: 10rem;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-danger">2000020 원</h5>
                            <p class="text-truncate" style="height: 4.5rem;" title="HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX"> HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX </p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> text-nowrap-->
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card" style="width: 13rem;">
                        <img src="https://www.avdbs.com/upload2/2403/bt04/240301131242_1540_0972.jpg" class="card-img-top" style="height: 10rem;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-danger">2000020 원</h5>
                            <p class="text-truncate" style="height: 4.5rem;" title="HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX"> HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX </p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> text-nowrap-->
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card" style="width: 13rem;">
                        <img src="https://www.avdbs.com/upload2/2403/bt04/240301131242_1540_0972.jpg" class="card-img-top" style="height: 10rem;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-danger">2000020 원</h5>
                            <p class="text-truncate" style="height: 4.5rem;" title="HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX"> HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX </p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> text-nowrap-->
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card" style="width: 13rem;">
                        <img src="https://www.avdbs.com/upload2/2403/bt04/240301131242_1540_0972.jpg" class="card-img-top" style="height: 10rem;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-danger">2000020 원</h5>
                            <p class="text-truncate" style="height: 4.5rem;" title="HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX"> HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX </p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> text-nowrap-->
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card" style="width: 13rem;">
                        <img src="https://www.avdbs.com/upload2/2403/bt04/240301131242_1540_0972.jpg" class="card-img-top" style="height: 10rem;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-danger">2000020 원</h5>
                            <p class="text-truncate" style="height: 4.5rem;" title="HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX"> HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX </p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> text-nowrap-->
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card" style="width: 13rem;">
                        <img src="https://www.avdbs.com/upload2/2403/bt04/240301131242_1540_0972.jpg" class="card-img-top" style="height: 10rem;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-danger">2000020 원</h5>
                            <p class="text-truncate" style="height: 4.5rem;" title="HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX"> HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX </p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> text-nowrap-->
                        </div>
                    </div>
                </div>

            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
    </section>

    <section class="my-3">
        <div class="row my-2">
            <div class="col-1">
                <img src="/img/Gmarket_logo.png" class="img-fluid my-2" alt="G마켓">
            </div>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card" style="width: 13rem;">
                        <img src="" class="card-img-top" style="height: 10rem;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-danger">2000020 원</h5>
                            <p class="text-truncate" style="height: 4.5rem;" title="HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX"> HP 2024 빅터스 15 라이젠5 라이젠 7000 시리즈 지포스 RTX 2050, Mica Silver, 512GB, 8GB, Free DOS, 15-fb1035AX </p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> text-nowrap-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
    </section>
</main>


<footer>

</footer>
<!-- <div class="container">
    <h1>Welcome to Home Shopping Price Tracker!</h1>
    <form th:action="@{/search}" method="get" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search for products" aria-label="Search" name="query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div> -->
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    let swiper = new Swiper('.swiper', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        slidesPerView : 5,
        spaceBetween : 20
        breakpoints: {
          768: {
            slidesPerView: 2,
            spaceBetween: 40,
          },
          1024: {
            slidesPerView: 3,
            spaceBetween: 50,
          },
          1200: {
            slidesPerView: 4,
            spaceBetween: 50,
          },
        },
    });
</script>
</html>