<footer th:fragment="footer" class="container">
    <div class="row">
        <div class="col text-center my-2 text-secondary fs-7">
            이 포스팅은 쿠팡 파트너스 활동의 일환으로, 이에 따른 일정액의 수수료를 제공받습니다.
        </div>
    </div>
    <div class="row">
        <div class="col text-center text-secondary fs-8 my-1">
            쿠팡에서 제품 가격이 변경될 수 있으므로, 제공하는 제품 가격과 다르게 조회될 수 있습니다.<br>
            <strong>가격표</strong>는 통신판매중개자이며 통신판매의 당사자가 아닙니다.<br>
            상품 거래정보 / 거래에 대한 책임을 지지 않으므로 쿠팡에서 실제 가격을 확인 후 구매해 주세요.<br>
        </div>
    </div>
    <div class="row">
        <div class="col text-center my-2 text-secondary fs-7">
            Email : pricetaglist@gmail.com<br>
            Copyright 2024 가격표. All rights reserved.
        </div>
    </div>
</footer>
