<header th:fragment="header" class="container">
    <div class="row">
        <div class="col-2 text-start">
            TakeOff-er
        </div>
        <div class="col-8 text-center">

        </div>
        <div class="col-2 text-end">

        </div>
    </div>
    <div class="row my-3 ">
        <img src="" class="mx-auto d-block">
    </div>
    <form th:action="@{/search}" method="get" class="mx-auto" style="width:100%; max-width:545px">
        <div class="row">
            <div class="input-group">
                <input th:value="${search}" name="query" id="query" type="text" class="form-control form-control-lg" placeholder="">
                <button class="btn btn-success" type="submit" id="search-btn">ffffffGo</button>
            </div>
        </div>
    </form>

    <div class="row">

    </div>
</header>