<main th:fragment="products" class="container my-4">
    <section th:replace="~{fragments/product :: product('coupang', ${coupangProducts})}"></section>
    <section th:replace="~{fragments/product :: product('apple', ${appleProducts})}"></section>
<!--    <section th:replace="fragments/product :: product('apple', ${appleProducts})"></section>-->
<!--    <section th:replace="fragments/product :: product('apple', ${appleProducts})"></section>-->
<!--    <section th:replace="fragments/product :: product('Gmarket', ${gmarketContents})"></section>-->
<!--    <section th:replace="fragments/product :: product('AliExpress', ${aliContents})"></section>-->
    <script>
        new PartnersCoupang.G({"id":781842,"template":"carousel","trackingCode":"AF9969205","width":"100%","height":"220","tsource":""});
    </script>
</main>

<main th:fragment="search-product" class="container">
    <section th:replace="~{fragments/search-product :: wrap(${search}, ${coupangProducts})}"></section>
</main>