<section th:fragment="product (title, products)" class="my-3">

    <div class="row my-1">
        <div th:switch="${title}" class="col-12">
            <a th:if="${products != null}" th:case="coupang" href="/search?query=" class="head-tag text-dark">
                <h5>할인율 높은 상품</h5>
            </a>
            <a th:if="${products != null}" th:case="apple" href="/search?query=Apple" class="head-tag text-dark">
                <h5>Apple 할인 상품</h5>
            </a>
            <a th:if="${products != null}" th:case="recom" href="/search?query=recom" class="head-tag text-dark">
                <h5>추천 상품</h5>
            </a>
            <a th:if="${products != null}" th:case="recom" href="/search?query=recom" class="head-tag text-dark">
                <h5>추천 상품</h5>
            </a>
        </div>
    </div>

    <div class="swiper" th:if="${products != null}">
        <div class="swiper-wrapper">

            <div th:each="product, stat : ${products}" th:classappend="${product.dailyPrice != 0 and product.itemQuantity != '품절'} ? '' : 'hidden'" class="items my-2 z-index-0 swiper-slide position-relative" >
                <a th:href="@{${product.address}}" class="card-box-a" th:classappend="'item-' + ${stat.index}" >
                    <div class="card" style="width: 13rem;">
                        <div class="card-front">
                            <img th:src="${product.itemImg}" class="card-img-top" style="height: 10rem;" alt="img">
                            <div class="card-body">
                            <span th:switch="${product.discountRate}">
                                <span th:case="0" class="badge text-bg-secondary" >-</span>
                                <span th:case="*" th:text="| - ${product.discountRate}%|" class="badge text-bg-primary discount"> - 16%</span>
                            </span>
                                <span th:if="${product.fixedPrice != 0}" th:text="|${#numbers.formatInteger(product.fixedPrice, 1, 'COMMA')}원|" class="badge text-decoration-line-through text-secondary"> 12,959,195원</span>
                                <span th:if="${product.deliveryType == '로켓배송'}" th:text="${product.deliveryType}" class="badge text-info"></span>
                                <div>
                                    <h6 th:text="| ${#numbers.formatInteger(product.dailyPrice, 1, 'COMMA')}원|" class="card-title text-danger my-2 fw-bold">2000020 원</h6>
                                    <span th:if="${product.itemQuantity != ''}" class="badge text-bg-danger">품절 임박</span>
                                </div>
                                <p th:text="${product.pname}" class="text-dark text-truncate word-box fs-7" th:title="${product.pname}"> </p>
                                <p th:text="${product.detailInfo}" class="text-secondary text-truncate info word-box fs-7" th:title="${product.detailInfo}"></p>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="p-2 graph-info">
                                <div class="tag-head fw-bold">●</div>
                                <div class="my-1">
                                    최고가: <span class="text-danger fw-bold" th:classappend="'max-price-'+ ${title} + ${stat.index}"></span>원
                                </div>
                                <div class="my-1">
                                    현재가: <span class="fw-bold" th:text="${#numbers.formatInteger(product.dailyPrice, 1, 'COMMA')}"></span>원
                                </div>
                                <div class="my-1">
                                    최저가: <span class="text-info fw-bold" th:classappend="'min-price-'+ ${title} + ${stat.index}"></span>원
                                </div>
                            </div>
                            <div class="graph" th:classappend="'graph-'+ ${title} + ${stat.index}">
                                <canvas class="" th:classappend="'chart-'+ ${title} + ${stat.index}"></canvas>
                            </div>
                        </div>
                    </div>
                </a>

                <script th:inline="javascript">
                    $(document).ready(function() {
                        let prices = /*[[${product.productInfoByDates}]]*/ [];
                        let dailyPrices = prices.map(p => p.dailyPrice);
                        let maxPrice = Math.max.apply(Math, dailyPrices);
                        let minPrice = Math.min.apply(Math, dailyPrices);
                        let location = [[${title}]] + [[${stat.index}]]
                        $('.max-price-' + location).text(maxPrice.toLocaleString());
                        $('.min-price-' + location).text(minPrice.toLocaleString());

                        chart(/*[[${title}+${stat.index}]]*/, prices)
                    })
                </script>
            </div>

        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
    <div th:if="${products == null}">

    </div>
</section>