    .fonts{
        font-family: Roboto;
    }

    .items{
<!--        display: inline-block;-->
<!--        margin-right: 5px;-->
<!--        width: 13rem !important;-->
    }

    .display-box{
        width: 300px;
        height: 210px;
        background: red;
        z-index: 99;
    }
    .display-chart{
        display:none;
    }
    .temp-text{
        display: none;
    }