    .fixed-price{

    }
    .items{
        display: inline-block;
    }
    .graph{
    /*
        top: 90%;
        left: 50%;
        transform: translate(-50%, -10%);
    */
    }
    .no-search{
        width: 100px;
        height: 450px;
    }
    .spinner-container {
        width: 100%;
        height: 200px;
        display: none;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    #spinner {
        position: absolute;
    }
    .text-orange {
        color: #f97101;
    }
    .text-setup {
        color: #34505e;
    }