<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

</head>
<style>
    .text-truncate{
        white-space: wrap;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>
<body>
<header th:replace="fragments/header :: header"></header>

<main th:replace="fragments/main :: products"></main>

<footer th:replace="fragments/footer :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    let swiper = new Swiper('.swiper', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        slidesPerView : 5,
        spaceBetween : 17

<!--//        breakpoints: {
//          768: {
//            slidesPerView: 2,
//            spaceBetween: 40,
//          },
//          1024: {
//            slidesPerView: 3,
//            spaceBetween: 50,
//          },
//          1200: {
//            slidesPerView: 4,
//            spaceBetween: 50,
//          },
//        },-->
    });
</script>
</body>
</html>