<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">>
</head>
<style>
    .text-truncate{
        white-space: wrap;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>
<body>
<header th:replace="fragments/header :: header"></header>

<main th:replace="fragments/main :: search-product"></main>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>